#cas2
  %p
    %label Saisir la paracétamolémie :
    = text_field_tag :dosage2
    µg/ml
    %p= submit_tag "Calculer le delai", id: "submit", name: nil
  .resultat
    %p
      %strong
        Délai de sécurité =
        %span#securite
