%h1 Calculateur intox paracétamol

#rumack_container

#right
  .resultat
    %h2 Choisir un point dans le graphique
    %table.table
      %tr
        %th Dosage
        %td#dosage
      %tr
        %th Délai
        %td#delai
      %tr
        %th Risque
        %td#risque
      -#%tr
        -#%th winX
        -#%td#x
      -#%tr
        -#%th winY
        -#%td#y
      -#%tr
        -#%th svgX
        -#%td#coord_x
      -#%tr
        -#%th svgY
        -#%td#coord_y
      %tr
        %th
          %span#faible Seuil risque faible
        %td
          %span#seuil_f
      %tr
        %th
          %span#important Seuil risque important
        %td
          %span#seuil_i
      %tr
        %th
          %span#severe Seuil risque sévère
        %td
          %span#seuil_s

    %h2 Ou rentrer les valeurs
    = form_tag "#", class: "form-inline", id: "calc1" do |f|
      = text_field_tag :dosage_for_calc, "", class: "input-small", placeholder: "dosage"
      = text_field_tag :delai_for_calc, "", class: "input-small", placeholder: "délai"
      %button{type: "submit", class: "btn"} Calculer

    %h2 Délai inconnu ?

    .hidden
      %span#conc
      %span#time
