.hidden
  display: none

table.table
  margin-bottom: 0
  tbody tr:hover
    th, td
      background-color: inherit

h3
  border-bottom: 2px solid black

th
  text-align: right

#faible, #seuil_f
  color: lime

#important, #seuil_i
  color: orange

#severe, #seuil_s
  color: red

.resultat
  width: 20em
  padding: 1em
  background-color: #333
  color: white
  font-size: 20px
  h2
    color: white

.container-fluid
  border: 1px solid black

#rumack_container
  position: fixed
  top: 50px
  left: 10px

#right
  position: fixed
  top: 50px
  right: 100px
